<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Movie List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Movies</h1>
                <p class="lead fw-normal text-muted mb-0">Movie near you</p>
            </div>
            <div class="row gx-2">
                <div th:each="club :${movies}" class="col-lg-4">
                    <div class="position-relative mb-2 movie-container">
                        <img class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}" alt="..." />
                        <h2><a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a></h2>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>